USE [QLy_BanHang]
GO
/****** Object:  Table [dbo].[CT_HDNhap]    Script Date: 6/16/2022 1:58:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HDNhap](
	[ID_CTHDN] [int] IDENTITY(1,1) NOT NULL,
	[makho] [varchar](50) NOT NULL,
	[masp] [varchar](50) NOT NULL,
	[soluong] [int] NOT NULL,
	[chietkhau] [float] NOT NULL,
	[thanhtien] [float] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[ID_Kho] [int] NOT NULL,
	[ID_HDNhap] [int] NOT NULL,
 CONSTRAINT [PK_CT_HDNhap] PRIMARY KEY CLUSTERED 
(
	[ID_CTHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HDXuat]    Script Date: 6/16/2022 1:58:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HDXuat](
	[ID_CTHDX] [int] IDENTITY(1,1) NOT NULL,
	[makho] [varchar](50) NOT NULL,
	[masp] [varchar](50) NOT NULL,
	[soluong] [int] NOT NULL,
	[chietkhau] [float] NOT NULL,
	[thanhtien] [float] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[ID_Kho] [int] NOT NULL,
	[ID_HDXuat] [int] NOT NULL,
 CONSTRAINT [PK_CT_HDXuat] PRIMARY KEY CLUSTERED 
(
	[ID_CTHDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDNhap]    Script Date: 6/16/2022 1:58:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDNhap](
	[ID_HDNhap] [int] IDENTITY(1,1) NOT NULL,
	[sophieunhap] [varchar](50) NOT NULL,
	[ngaytao] [date] NOT NULL,
	[ID_NCC] [int] NOT NULL,
	[mancc] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HDNhap] PRIMARY KEY CLUSTERED 
(
	[ID_HDNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDXuat]    Script Date: 6/16/2022 1:58:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDXuat](
	[ID_HDXuat] [int] IDENTITY(1,1) NOT NULL,
	[sophieuxuat] [varchar](50) NOT NULL,
	[ngaytao] [date] NOT NULL,
	[ID_KH] [int] NOT NULL,
	[makh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HDXuat] PRIMARY KEY CLUSTERED 
(
	[ID_HDXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KH]    Script Date: 6/16/2022 1:58:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KH](
	[ID_KH] [int] IDENTITY(1,1) NOT NULL,
	[makh] [varchar](50) NOT NULL,
	[tenkh] [nvarchar](100) NOT NULL,
	[diachi] [nvarchar](100) NOT NULL,
	[sdt] [varchar](50) NOT NULL,
	[gioitinh] [nvarchar](50) NOT NULL,
	[masothue] [float] NOT NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[ID_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 6/16/2022 1:58:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[ID_Kho] [int] IDENTITY(1,1) NOT NULL,
	[makho] [varchar](50) NOT NULL,
	[tenkho] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[ID_Kho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 6/16/2022 1:58:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[ID_NCC] [int] IDENTITY(1,1) NOT NULL,
	[mancc] [varchar](50) NOT NULL,
	[tenncc] [nvarchar](100) NOT NULL,
	[diachi] [nvarchar](100) NOT NULL,
	[sdt] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[ID_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/16/2022 1:58:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID_SP] [int] IDENTITY(1,1) NOT NULL,
	[masp] [varchar](50) NOT NULL,
	[tensp] [nvarchar](50) NOT NULL,
	[donvi] [nvarchar](50) NOT NULL,
	[dongia] [float] NOT NULL,
	[ngaytao] [date] NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/16/2022 1:58:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID_TK] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[hoten] [nvarchar](100) NOT NULL,
	[diachi] [nvarchar](100) NOT NULL,
	[ngaysinh] [date] NOT NULL,
	[sdt] [varchar](50) NOT NULL,
	[gioitinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 6/16/2022 1:58:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[ID_Kho] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[soluong] [int] NOT NULL,
 CONSTRAINT [PK_TonKho] PRIMARY KEY CLUSTERED 
(
	[ID_Kho] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_HDNhap]  WITH CHECK ADD  CONSTRAINT [FK_CT_HDNhap_HDNhap] FOREIGN KEY([ID_HDNhap])
REFERENCES [dbo].[HDNhap] ([ID_HDNhap])
GO
ALTER TABLE [dbo].[CT_HDNhap] CHECK CONSTRAINT [FK_CT_HDNhap_HDNhap]
GO
ALTER TABLE [dbo].[CT_HDNhap]  WITH CHECK ADD  CONSTRAINT [FK_CT_HDNhap_Kho] FOREIGN KEY([ID_Kho])
REFERENCES [dbo].[Kho] ([ID_Kho])
GO
ALTER TABLE [dbo].[CT_HDNhap] CHECK CONSTRAINT [FK_CT_HDNhap_Kho]
GO
ALTER TABLE [dbo].[CT_HDNhap]  WITH CHECK ADD  CONSTRAINT [FK_CT_HDNhap_SanPham] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SanPham] ([ID_SP])
GO
ALTER TABLE [dbo].[CT_HDNhap] CHECK CONSTRAINT [FK_CT_HDNhap_SanPham]
GO
ALTER TABLE [dbo].[CT_HDXuat]  WITH CHECK ADD  CONSTRAINT [FK_CT_HDXuat_HDXuat] FOREIGN KEY([ID_HDXuat])
REFERENCES [dbo].[HDXuat] ([ID_HDXuat])
GO
ALTER TABLE [dbo].[CT_HDXuat] CHECK CONSTRAINT [FK_CT_HDXuat_HDXuat]
GO
ALTER TABLE [dbo].[CT_HDXuat]  WITH CHECK ADD  CONSTRAINT [FK_CT_HDXuat_Kho] FOREIGN KEY([ID_Kho])
REFERENCES [dbo].[Kho] ([ID_Kho])
GO
ALTER TABLE [dbo].[CT_HDXuat] CHECK CONSTRAINT [FK_CT_HDXuat_Kho]
GO
ALTER TABLE [dbo].[CT_HDXuat]  WITH CHECK ADD  CONSTRAINT [FK_CT_HDXuat_SanPham] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SanPham] ([ID_SP])
GO
ALTER TABLE [dbo].[CT_HDXuat] CHECK CONSTRAINT [FK_CT_HDXuat_SanPham]
GO
ALTER TABLE [dbo].[HDNhap]  WITH CHECK ADD  CONSTRAINT [FK_HDNhap_NCC] FOREIGN KEY([ID_NCC])
REFERENCES [dbo].[NCC] ([ID_NCC])
GO
ALTER TABLE [dbo].[HDNhap] CHECK CONSTRAINT [FK_HDNhap_NCC]
GO
ALTER TABLE [dbo].[HDXuat]  WITH CHECK ADD  CONSTRAINT [FK_HDXuat_KH] FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KH] ([ID_KH])
GO
ALTER TABLE [dbo].[HDXuat] CHECK CONSTRAINT [FK_HDXuat_KH]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_TonKho_Kho] FOREIGN KEY([ID_Kho])
REFERENCES [dbo].[Kho] ([ID_Kho])
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_TonKho_Kho]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_TonKho_SanPham] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SanPham] ([ID_SP])
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_TonKho_SanPham]
GO
